## Python basics

In [4]:
##lists

In [5]:
l=[1,3,315.23,'AB',True]

In [6]:
l

[1, 3, 315.23, 'AB', True]

In [7]:
print(l)

[1, 3, 315.23, 'AB', True]

In [8]:
l[3][0]

'A'

In [9]:
str(l[4])[0:2]

'Tr'

In [10]:
l.append(5)

In [11]:
l

[1, 3, 315.23, 'AB', True, 5]

In [12]:
l.extend([3,4,5])

In [13]:
l

[1, 3, 315.23, 'AB', True, 5, 3, 4, 5]

In [14]:
l.extend("akanksha")

In [15]:
l

[1, 3, 315.23, 'AB', True, 5, 3, 4, 5, 'a', 'k', 'a', 'n', 'k', 's', 'h', 'a']

In [16]:
 l.insert(1,'Sudh')

In [17]:
l

[1,
 'Sudh',
 3,
 315.23,
 'AB',
 True,
 5,
 3,
 4,
 5,
 'a',
 'k',
 'a',
 'n',
 'k',
 's',
 'h',
 'a']

In [18]:
 l.insert(-1,10)

In [19]:
l

[1,
 'Sudh',
 3,
 315.23,
 'AB',
 True,
 5,
 3,
 4,
 5,
 'a',
 'k',
 'a',
 'n',
 'k',
 's',
 'h',
 10,
 'a']

In [20]:
l.pop()

'a'

In [21]:
l

[1,
 'Sudh',
 3,
 315.23,
 'AB',
 True,
 5,
 3,
 4,
 5,
 'a',
 'k',
 'a',
 'n',
 'k',
 's',
 'h',
 10]

In [22]:
 l.pop(3)

315.23

In [23]:
l

[1, 'Sudh', 3, 'AB', True, 5, 3, 4, 5, 'a', 'k', 'a', 'n', 'k', 's', 'h', 10]

In [24]:
l.append([2,3,4])

In [25]:
l

[1,
 'Sudh',
 3,
 'AB',
 True,
 5,
 3,
 4,
 5,
 'a',
 'k',
 'a',
 'n',
 'k',
 's',
 'h',
 10,
 [2, 3, 4]]

In [26]:
l[-1].remove(3)

In [27]:
l

[1,
 'Sudh',
 3,
 'AB',
 True,
 5,
 3,
 4,
 5,
 'a',
 'k',
 'a',
 'n',
 'k',
 's',
 'h',
 10,
 [2, 4]]

In [28]:
l.extend([5,6,7])

In [29]:
l

[1,
 'Sudh',
 3,
 'AB',
 True,
 5,
 3,
 4,
 5,
 'a',
 'k',
 'a',
 'n',
 'k',
 's',
 'h',
 10,
 [2, 4],
 5,
 6,
 7]

In [30]:
l[::-1]

[7,
 6,
 5,
 [2, 4],
 10,
 'h',
 's',
 'k',
 'n',
 'a',
 'k',
 'a',
 5,
 4,
 3,
 5,
 True,
 'AB',
 3,
 'Sudh',
 1]

In [31]:
l.reverse()

In [32]:
l

[7,
 6,
 5,
 [2, 4],
 10,
 'h',
 's',
 'k',
 'n',
 'a',
 'k',
 'a',
 5,
 4,
 3,
 5,
 True,
 'AB',
 3,
 'Sudh',
 1]

In [33]:
ll=[2,3,4,1,5,7,2,3,45,4,323]

In [34]:
ll.sort(reverse=True)

In [35]:
ll

[323, 45, 7, 5, 4, 4, 3, 3, 2, 2, 1]

In [36]:
ll.count(4)

2

In [37]:
ll.count(234)

0

In [38]:
ll

[323, 45, 7, 5, 4, 4, 3, 3, 2, 2, 1]

In [39]:
ll[0]=324

In [40]:
ll

[324, 45, 7, 5, 4, 4, 3, 3, 2, 2, 1]

In [41]:
l

[7,
 6,
 5,
 [2, 4],
 10,
 'h',
 's',
 'k',
 'n',
 'a',
 'k',
 'a',
 5,
 4,
 3,
 5,
 True,
 'AB',
 3,
 'Sudh',
 1]

In [44]:
l[-2].replace('S','A')

'Audh'

In [45]:
##tuple

In [2]:
t=(1,2,3,3.45,True,"Akshu",5+90j)

In [3]:
t

(1, 2, 3, 3.45, True, 'Akshu', (5+90j))

In [4]:
type(t)

tuple

In [5]:
len(t)

7

In [6]:
t[4]

True

In [7]:
t[::-1]

((5+90j), 'Akshu', True, 3.45, 3, 2, 1)

In [8]:
t

(1, 2, 3, 3.45, True, 'Akshu', (5+90j))

In [9]:
t[0]=10

TypeError: 'tuple' object does not support item assignment

In [10]:
t[::-1]

((5+90j), 'Akshu', True, 3.45, 3, 2, 1)

In [15]:
 t.count(1)

2

In [17]:
t.index(2)

1

In [20]:
##dictionary
s1={}

In [21]:
type(s1)

dict

In [1]:
##set
s2={23,12,55,21,"akanksha",5+3423j}

In [23]:
type(s2)

set

In [24]:
s2={23,12,55,23,"akanksha",5+3423j}

In [25]:
s2

{(5+3423j), 12, 23, 55, 'akanksha'}

In [26]:
s3={1,2,3,4,1,2,3,3,2,1,2,3,4,2,2,4,4,6,0,0,5,3,3,3,4,4,5,5,5,4,3,3,3,3}

In [27]:
s3

{0, 1, 2, 3, 4, 5, 6}

In [28]:
s3.add(7)

In [29]:
s3

{0, 1, 2, 3, 4, 5, 6, 7}

In [30]:
s3[0]

TypeError: 'set' object is not subscriptable

In [31]:
s3[0]=12

TypeError: 'set' object does not support item assignment

In [32]:
##Dictionary

In [46]:
d= { 'key': "sudh"}

In [67]:
d1={'name': "akanksha", "age":23, "marks":100, True:86595849, "name":"vaishu"}

In [68]:
d1

{'name': 'vaishu', 'age': 23, 'marks': 100, True: 86595849}

In [70]:
d1['name'] 
##use key for indexing

'vaishu'

In [71]:
##dictionary should always contains unique values .....in above example we have used name twice as keys,so recent or lastly stored value will overwrite the first value.

In [73]:
 d5={'name': ["akshu","vaishu","samu"],'age':[23,19,13],'marks':[19,18,17]}

In [74]:
d5

{'name': ['akshu', 'vaishu', 'samu'],
 'age': [23, 19, 13],
 'marks': [19, 18, 17]}

In [75]:
d5['name']

['akshu', 'vaishu', 'samu']

In [76]:
d5['name'][2]

'samu'

In [77]:
## in dictionary we can also create list as above....also we can create sets also

In [82]:
d10={'name': ["akshu","vaishu","samu"],'age':[23,19,13],'marks':[19,18,17],'s1':{1,2,23,3,3,3,3,3,3,2,4,5,23,23,98}}

In [83]:
d10

{'name': ['akshu', 'vaishu', 'samu'],
 'age': [23, 19, 13],
 'marks': [19, 18, 17],
 's1': {1, 2, 3, 4, 5, 23, 98}}

In [84]:
#we can create dictionary inside dictionary ....also sets,tuples,lists and what not

In [85]:
#in already built dictionary we can create another keys with values

In [87]:
d10['mentor']=['sudh','krish','anu','renu']

In [88]:
d10

{'name': ['akshu', 'vaishu', 'samu'],
 'age': [23, 19, 13],
 'marks': [19, 18, 17],
 's1': {1, 2, 3, 4, 5, 23, 98},
 'mentor': ['sudh', 'krish', 'anu', 'renu']}

In [89]:
#to deletete any key

In [90]:
 del d10['s1']

In [91]:
d10

{'name': ['akshu', 'vaishu', 'samu'],
 'age': [23, 19, 13],
 'marks': [19, 18, 17],
 'mentor': ['sudh', 'krish', 'anu', 'renu']}

In [92]:
d10.keys()

dict_keys(['name', 'age', 'marks', 'mentor'])

In [93]:
list(d10.keys())

['name', 'age', 'marks', 'mentor']

In [94]:
d10.values()

dict_values([['akshu', 'vaishu', 'samu'], [23, 19, 13], [19, 18, 17], ['sudh', 'krish', 'anu', 'renu']])

In [95]:
list(d10.values())

[['akshu', 'vaishu', 'samu'],
 [23, 19, 13],
 [19, 18, 17],
 ['sudh', 'krish', 'anu', 'renu']]

In [96]:
d10.items()

dict_items([('name', ['akshu', 'vaishu', 'samu']), ('age', [23, 19, 13]), ('marks', [19, 18, 17]), ('mentor', ['sudh', 'krish', 'anu', 'renu'])])

In [97]:
list(d10.items())

[('name', ['akshu', 'vaishu', 'samu']),
 ('age', [23, 19, 13]),
 ('marks', [19, 18, 17]),
 ('mentor', ['sudh', 'krish', 'anu', 'renu'])]

In [98]:
d10.pop('name')

['akshu', 'vaishu', 'samu']

In [99]:
d10

{'age': [23, 19, 13],
 'marks': [19, 18, 17],
 'mentor': ['sudh', 'krish', 'anu', 'renu']}

In [32]:
# list=[]
# tuples=()
# set={} with flat element set
# dictionary={} with key value pairs

## if else

In [103]:
#we will decide what is marks
marks=23
if marks>=80:
    print("you will be a part of A batch")
elif marks>=60 and marks<80:
    print("you will be a part of B batch")
elif marks>=40 and marks<60:
    print("you will bw part of C batch")
else :
    print("you will be part of D batch")

you will be part of D batch

In [109]:
##we will take input from user
marks= int(input("enter your marks" ))
if marks>=80:
    print("you will be a part of A batch")
elif marks>=60 and marks<80:
    print("you will be a part of B batch")
elif marks>=40 and marks<60:
    print("you will bw part of C batch")
else :
    print("you will be part of D batch")

enter your marks48
you will bw part of C batch

In [114]:
price=int(input("enter the price of product " ))
if price<=1000:
        print("lets purchase")
else:
        print("no we dont need that")

enter the price of product 7998
no we dont need that

In [126]:
price=int(input("enter the price of product " ))
if price>1000:
    print("lets purchase")
    if price>5000 :
        print("this is too much")
    elif price<2000:
        print("its ok")

enter the price of product 1555
lets purchase
its ok

## loop

## for loop

In [1]:
l=[1,2,3,45,4,3,6,7,8]

In [2]:
l

[1, 2, 3, 45, 4, 3, 6, 7, 8]

In [3]:
for i in l:
    print(i)

1
2
3
45
4
3
6
7
8

In [8]:
l1=[]
for i in l:
    print(i+1)
    l1.append(i+1)

2
3
4
46
5
4
7
8
9

In [9]:
l1

[2, 3, 4, 46, 5, 4, 7, 8, 9]

In [10]:
l=["sudh","kumar","pwskills","course"]

In [11]:
l

['sudh', 'kumar', 'pwskills', 'course']

In [16]:
l2=[]
for i in l:
    print(i.upper())
    l2.append(i.upper())

SUDH
KUMAR
PWSKILLS
COURSE

In [17]:
l2

['SUDH', 'KUMAR', 'PWSKILLS', 'COURSE']

In [18]:
l5=["akshu","samu","vaishu","anu"]

In [19]:
l5

['akshu', 'samu', 'vaishu', 'anu']

In [21]:
l6=[]
for j in l5:
    print(j.upper())
    l6.append(j.upper())

AKSHU
SAMU
VAISHU
ANU

In [22]:
l6

['AKSHU', 'SAMU', 'VAISHU', 'ANU']

In [23]:
l=[1,2,3,4,4,67,"such","Akshu",  798.98,324,"abc"]

In [24]:
l

[1, 2, 3, 4, 4, 67, 'such', 798.98, 324, 'abc']

In [25]:
l

[1, 2, 3, 4, 4, 67, 'such', 798.98, 324, 'abc']

In [28]:
l_num=[]
l_str=[]
for i in l:
    if type(i)==int or type(i)==float:
        (l_num.append(i))
    else :
        (l_str.append(i))

In [29]:
l_num

[1, 2, 3, 4, 4, 67, 798.98, 324]

In [33]:
l_str

['such', 'abc']

In [1]:
 name= "akanksha"
name2=[]
for i in name:
        print(i)
        name2.append(i.upper())

a
k
a
n
k
s
h
a

In [37]:
name2

['A', 'K', 'A', 'N', 'K', 'S', 'H', 'A']

In [2]:
l=[1,2,3,4,5]

In [3]:
l

[1, 2, 3, 4, 5]

In [9]:
l1=[]
for i in l:
    print(i+3,type(i))
    l1.append(i+3)

4 <class 'int'>
5 <class 'int'>
6 <class 'int'>
7 <class 'int'>
8 <class 'int'>

In [8]:
l1

[4, 5, 6, 7, 8]

## for else loop

In [10]:
l=[1,2,3,4,5]

In [11]:
l

[1, 2, 3, 4, 5]

In [13]:
for i in l:
    print(i)
else:
    print("if for loop is able to complete itself then only else will execute")

1
2
3
4
5
if for loop is able to complete itself then only else will execute

In [18]:
l=["akshu","bhosale","vaishu","samu"]

In [19]:
for i in l:
    if i=="bhosale":
        break
    print(i)

akshu

In [20]:
l=["akshu","bhosale","vaishu","samu"]

In [21]:
for i in l:
    if i=="bhosale":
        break
    print(i)
else:
    print("execute this if for loop is able to complete ifself")

akshu

In [22]:
l

['akshu', 'bhosale', 'vaishu', 'samu']

In [ ]:
for i in l:
    if i=="samu":
        break
    print(i)
else:
    print("execute this if for loop is able to complete itself")

In [28]:
## using continue

In [30]:
l

['akshu', 'bhosale', 'vaishu', 'samu']

In [32]:
for i in l:
    if i=="bhosale":
        continue
    print(i)
else:
        print("print everything")

akshu
vaishu
samu
print everything

In [33]:
 range(10)

range(0, 10)

In [36]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [38]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [39]:
list(range(-10,0))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]

In [40]:
 l

['akshu', 'bhosale', 'vaishu', 'samu']

In [41]:
len(l)

4

In [44]:
list(range(len(l)))

[0, 1, 2, 3]

In [48]:
for i in range(len(l)):
    print(l[i])

akshu
bhosale
vaishu
samu

In [49]:

        list(range(len(l)-1,-1,-1))

[3, 2, 1, 0]

In [51]:
for i in range(len(l)-1,-1,-1):
    print(l[i])

samu
vaishu
bhosale
akshu

In [52]:
lst=[12,3,4,7,98,47,489,45,47,456,12,19,48,4659,55484]

In [53]:
lst

[12, 3, 4, 7, 98, 47, 489, 45, 47, 456, 12, 19, 48, 4659, 55484]

In [57]:
len(lst)

15

In [58]:
##to generate indexes we use range function

In [65]:
list(range(len(lst)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [66]:
list(range(0,len(lst),2))

[0, 2, 4, 6, 8, 10, 12, 14]

In [67]:
lst

[12, 3, 4, 7, 98, 47, 489, 45, 47, 456, 12, 19, 48, 4659, 55484]

In [68]:
for i in range(0,len(lst),2):
    print(lst[i])

12
4
98
489
47
12
48
55484

In [69]:
l

['akshu', 'bhosale', 'vaishu', 'samu']

In [70]:
lst

[12, 3, 4, 7, 98, 47, 489, 45, 47, 456, 12, 19, 48, 4659, 55484]

In [71]:
sum(lst)

61430

In [78]:
sum=0
for i in lst:
    sum=sum+i
sum

61430

In [79]:
t=(1,2,3,4,5) 
##using tuple

In [80]:
for i in t:
    print(i)

1
2
3
4
5

In [81]:
st={1,2,3,4,5,"aB","SUSH"}

In [83]:
for i in st:
    print(i)
    ##using for sets

SUSH
1
2
3
4
5
aB

In [87]:
name="akanksha"
for i in name:
    print(i)

a
k
a
n
k
s
h
a

In [89]:
list(range(0,len(name),2))

[0, 2, 4, 6]

In [90]:
for i in range(0,len(name),2):
    print(name[i])

a
a
k
h

In [91]:
##using dictionary
dict={"name":"akshu","class":"data science","topics":["python","r","Stat","ml","dl"]}

In [92]:
dict

{'name': 'akshu',
 'class': 'data science',
 'topics': ['python', 'r', 'Stat', 'ml', 'dl']}

In [93]:
dict.keys()

dict_keys(['name', 'class', 'topics'])

In [94]:
dict.values()

dict_values(['akshu', 'data science', ['python', 'r', 'Stat', 'ml', 'dl']])

In [95]:
dict.items()

dict_items([('name', 'akshu'), ('class', 'data science'), ('topics', ['python', 'r', 'Stat', 'ml', 'dl'])])

In [96]:
for i in dict:
    print(i)

name
class
topics

In [97]:
for i in dict.values():
    print(i)

akshu
data science
['python', 'r', 'Stat', 'ml', 'dl']

In [100]:
for i in dict.items():
    print(i)

('name', 'akshu')
('class', 'data science')
('topics', ['python', 'r', 'Stat', 'ml', 'dl'])

 ## While loop

In [3]:
a=1
while a<=10:
    print(a)
    a=a+1

1
2
3
4
5
6
7
8
9
10

In [4]:
## sum up the number till some point

In [7]:
num=int(input("enter your number"))
sum=0
start=1
while start<=num:
    sum=sum+start
    start=start+1
sum

enter your number5

15

In [8]:
## factorial

In [9]:
number=int(input("enter your number"))
factorial=1
while number>0:
    factorial=factorial*number
    number=number-1
factorial

enter your number5

120

In [11]:
##finonacci series

In [12]:
##series states that,the next number should be summation of previous two numbers
0+1+1+2+3+5==if taking first 5 series addition we will get 3.

In [21]:
number=int(input("enter your number"))
a,b=0,1
counter=0
while counter<number:
        print(a)
        c=a+b
        a=b
        b=c
        counter=counter+1

enter your number5
0
1
1
2
3

In [22]:
##finonacci series with for loop

In [25]:
a,b=0,1
for i in range(10):
    print(a)
    c=a+b
    a=b
    b=c

0
1
1
2
3
5
8
13
21
34

In [26]:
name="akanksha"
for a in name:
    print(a)

a
k
a
n
k
s
h
a

In [27]:
name="akanksha"
name[::-1]

'ahsknaka'

In [28]:
##by using while loop

In [34]:
name="Akanksha"
reverse=""
length=len(name)
while length>0:
    reverse=reverse+name[length-1]
    length=length-1
print(reverse)

ahsknakA

In [35]:
##print table of numbers

In [36]:
number=int(input("enter your number"))
i=1
while i<=10:
    result=number*i
    print(result)
    i=i+1

enter your number5
5
10
15
20
25
30
35
40
45
50

In [39]:
num=int(input("enter the number  "))
a=1
while a<=20:
    res=a*num
    a=a+1
    print(res)

enter the number  21
21
42
63
84
105
126
147
168
189
210
231
252
273
294
315
336
357
378
399
420

In [64]:
num=int(input("enter your number: "))
a=1
for a in range(1,11):
    result=num*a
    print(result)
    a=a+1

enter your number: 5
5
10
15
20
25
30
35
40
45
50

In [66]:
## while else loop

In [68]:
n=5
i=1
while i<10:
    print(i)
    i=i+1
else:
    print("this will execute definitely")

1
2
3
4
5
6
7
8
9
this will execute definitely

In [ ]:
n=5
i=1
while i<10:
    print(i)
    if i ==5:
        break
    i=i+1
else:
    ("this will not execute if breaks")


## Comprehension

In [80]:
#by using for loop
l=[8,4,13,12,1]
l1=[]
for i in l:
    l1.append(i**2)

In [81]:
l1

[64, 16, 169, 144, 1]

In [82]:
[i**2 for i in l]

[64, 16, 169, 144, 1]

In [85]:
[i for i in l if i%2==0]

[8, 4, 12]

In [91]:
l1=['akshu','vaishu','samu','anu']
[i.upper() for i in l1]

['AKSHU', 'VAISHU', 'SAMU', 'ANU']

In [92]:
##for tuples

In [3]:
l

NameError: name 'l' is not defined

In [4]:
[i**2 for i in l]

NameError: name 'l' is not defined

In [5]:
list(i**2 for i in l)

NameError: name 'l' is not defined

## function

In [6]:
##function always starts from def keyword.def=definition

In [11]:
def test():
    pass

In [12]:
def test1():
    print("this is my first function")
##print gives always return nonetype

In [13]:
test1()

this is my first function

In [18]:
test1()+"akanksha"

this is my first function

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [25]:
def test2():
    return ("this is my first return: ")
#return will always give whatever the datatype we provided

In [26]:
test2()

'this is my first return: '

In [27]:
 test2() +  "akanksha "

'this is my first return: akanksha '

In [28]:
##multiple return

In [1]:
def test3():
    return ("akanksha", 33, 90.657,[4,8,9,2,89] )

In [2]:
test3()

('akanksha', 33, 90.657, [4, 8, 9, 2, 89])

In [3]:
type(test3())

tuple

In [43]:
a,b,c,d = test3()

In [44]:
a

'akanksha'

In [45]:
b

33

In [48]:
c

90.657

In [49]:
d

[4, 8, 9, 2, 89]

In [50]:
def test4():
    a=56+48/7
    return a

In [51]:
test4()

62.857142857142854

In [52]:
test4()/3

20.952380952380953

In [53]:
test4()+789

851.8571428571429

In [60]:
def test5(a,b,c):
    d=a+b/c
    return d

In [84]:
test5(89,45,17)

91.6470588235294

In [71]:
def test6(a,b):
    return a+b

In [63]:
test6(45664,78945145)

78990809

In [65]:
test6("sudh","56")

'sudh56'

In [68]:
test6("akanksha ","bhosale")

'akanksha bhosale'

In [74]:
test6([1,2,3,4,5,6,7,"sudh"], [9,8,7,4,5,6,4,8,9,1,2,3,0,1,5,1,4,48,9,15,0])

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 'sudh',
 9,
 8,
 7,
 4,
 5,
 6,
 4,
 8,
 9,
 1,
 2,
 3,
 0,
 1,
 5,
 1,
 4,
 48,
 9,
 15,
 0]

In [88]:
test6([1,8,74,5,12,12,1,"ab",[8,9,4,5,4,7]],[45,98,74,5])

[1, 8, 74, 5, 12, 12, 1, 'ab', [8, 9, 4, 5, 4, 7], 45, 98, 74, 5]

In [115]:
l=[1,8,74,5,12,12,1,"ab",[8,9,4,5,4,7]]

In [129]:
l

[1, 8, 74, 5, 12, 12, 1, 'ab', [8, 9, 4, 5, 4, 7]]

In [135]:

def test7(l): 
    lst=[]
    for i in l:
        if type(i)==int or type(i)==float:
            lst.append(i)
    return lst

In [136]:
test7(l)

[1, 8, 74, 5, 12, 12, 1]

In [137]:
l

[1, 8, 74, 5, 12, 12, 1, 'ab', [8, 9, 4, 5, 4, 7]]

In [145]:
def test8(a):
    l=[]
    for i in a:
        if type(i)==list:
            for j in i:
                l.append(j)
        else:
            if type(i)==int or type(i)==float:
                l.append(i)
    return l

In [146]:
test8(l)

[1, 8, 74, 5, 12, 12, 1, 8, 9, 4, 5, 4, 7]

In [148]:
def test8(a):
    """this is my function to extract num data from list"""  ## this is known as doc-string
    l=[]
    for i in a:
        if type(i)==list:
            for j in i:
                l.append(j)
        else:
            if type(i)==int or type(i)==float:
                l.append(i)
    return l

In [151]:
test8(l)

[1, 8, 74, 5, 12, 12, 1, 8, 9, 4, 5, 4, 7]

In [153]:
def test11(*args):
    return args

In [154]:
type(test11())

tuple

In [155]:
test11(1,2,3 )

(1, 2, 3)

In [157]:
test11(1,2,3,"ab",[1,2,3,4])

(1, 2, 3, 'ab', [1, 2, 3, 4])

In [158]:
##it is not necessary that you have to write args only ...we can write anything(for example my name also)with * symbol it means n number of arguments the function can store in form of tuples

In [159]:
def test11(*akanksha):
    return akanksha

In [160]:
test11

In [161]:
test11(12,3,4,'aa','vd','sm')

(12, 3, 4, 'aa', 'vd', 'sm')

In [163]:
def test12(*args,a):
    return args,a

In [165]:
test12(1,2,34,4.5,11,a=(73636,15965626))

((1, 2, 34, 4.5, 11), (73636, 15965626))

In [178]:
def test13(c,d,a=12,b=567):
    return(a,b,c,d)

In [179]:
test13(97441,26587)

(12, 567, 97441, 26587)

In [180]:
test13(2,3,a=2343)

(2343, 567, 2, 3)

In [181]:
def test15(**args):
    return args

In [182]:
test15()

{}

In [183]:
type(test15())

dict

In [185]:
test15(a=[1,2,3,4],b="sudh",c=56.87)

{'a': [1, 2, 3, 4], 'b': 'sudh', 'c': 56.87}

## Generator function

In [2]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [3]:
range(0,10)

range(0, 10)

In [5]:
a=list[(range(0,10))]

In [6]:
a

list[range(0, 10)]

In [9]:
def test_fib(n):
    a,b=0,1
    for i in range(n):
        yield a
        a,b=b,a+b

In [10]:
test_fib(10)

In [11]:
 for i in test_fib(10):
        print(i)

0
1
1
2
3
5
8
13
21
34

In [13]:
def test_fib1():
    a,b=0,1
    while True:
        yield a
        a,b=b,a+b

In [14]:
test_fib1()

In [15]:
fib=test_fib1()

In [17]:
for i in range(10):
    print(next(fib))

0
1
1
2
3
5
8
13
21
34

In [18]:
s="sudh"

In [19]:
for i in s:
    print(i)

s
u
d
h

In [21]:
next(s)

TypeError: 'str' object is not an iterator

In [28]:
s1=iter(s)
type(s1)

str_iterator

In [23]:
next(s1)

's'

In [24]:

next(s1)

'u'

In [25]:
next(s1)

'd'

In [26]:
next(s1)

'h'

In [29]:
next(45)

TypeError: 'int' object is not an iterator

In [30]:
def count_test(n):
    count=1
    while count<=n:
        yield count
        count=count+1

In [31]:
count_test(5)

In [33]:
c=count_test(5)

In [34]:
for i in c:
    print(i)

1
2
3
4
5

In [36]:
type(c)

generator

## lambda function

In [2]:
 ##by using simple function

In [4]:
n=3
p=2

def test(n,p):
    return n**p

In [5]:
test(5,2)

25

In [6]:
##using lambda function:

In [8]:
type(lambda n,p:n**p)

function

In [10]:
a=lambda n,p:n**p

In [11]:
a(5,2)

25

In [12]:
add=lambda x,y:x+y

In [13]:
add(897446,1451278952)

1452176398

In [14]:
 ##to convert celsius to ferenite

In [15]:
cel_to_fer=lambda c:(9/5)*c + 32

In [16]:
cel_to_fer(15)

59.0

In [18]:
find_max=lambda x,y: x if x>y else y

In [19]:
find_max(98,78)

98

In [20]:
s="akanksha"

In [23]:
find_length=lambda s: len(s)

In [24]:
find_length(s)

8

In [25]:
def name(s):
    return len(s)

In [26]:
name("akanksha")

8

## Map,Reduce and Filter function

In [1]:
l=[1,2,3,4,5]

In [4]:
l1=[]
for i in l:
    l1.append(i**2)

In [5]:
l1

[1, 4, 9, 16, 25]

In [15]:
def test(l):
    l2=[]
    for i in l:
        l2.append(i**2)
    return l2

In [13]:
test(l)

[1, 4, 9, 16, 25]

In [32]:
def sq(x):
    return x**2

In [33]:
sq(15)

225

In [37]:
list(map(sq,l))

[1, 4, 9, 16, 25]

In [39]:
l1=[1,2,3,4,5]
l2=[6,7,8,9,10]
list(map(lambda x,y:x+y,l1,l2))

[7, 9, 11, 13, 15]

In [41]:
s="akanksha"
list(map(lambda s:s.upper(),s))

['A', 'K', 'A', 'N', 'K', 'S', 'H', 'A']

In [42]:
## use reduce function

In [43]:
## first we need to call the reduce function

In [44]:
from functools import reduce

In [45]:
l=[1,2,3,4,5]

In [46]:
reduce(lambda x,y:x+y,l )

15

In [47]:
reduce(lambda x,y:x+y,[1])

1

In [48]:
reduce(lambda x,y: x if x>y else y,l)

5

In [49]:
## filter function

In [50]:
l

[1, 2, 3, 4, 5]

In [53]:
list(filter(lambda x: x%2==0,l ))

[2, 4]

In [54]:
list(filter (lambda x:x%2 !=0,l))

[1, 3, 5]

In [55]:
l1=[2,1,6,-4,2,-1,-4,-8]

In [57]:
list(filter(lambda x: x<0,l1))

[-4, -1, -4, -8]

In [58]:
l2=["akshu","vaishu","samu","aanu"]

In [60]:
list(filter(lambda x: len(x)<6,l2))

['akshu', 'samu', 'aanu']